{% extends 'base.html.twig' %}

{% block title %}Editar Usuarios{% endblock %}

{% block body %}
    <h1>Editar Usuario</h1>

    {{ include('usuarios/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('usuarios_index') }}">Volver</a>

    {{ include('usuarios/_delete_form.html.twig') }}
{% endblock %}
