{% extends 'base.html.twig' %}

{% block title %}Editar Persona{% endblock %}

{% block body %}
    <h1>Editar Datos de Persona</h1>

    {{ include('persona/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('persona_index') }}">Volver a lista</a>

    {{ include('persona/_delete_form.html.twig') }}
{% endblock %}
