{%  extends "base.html.twig" %}

{% block title %}Indice del Personal{% endblock %}

{% block body %}
    Bienvenido al MODULO DE ADMINISTRACION DE PERSONAS
{% endblock %}

{% block miBloque %}
    <h1>Este es mi bloque personalisado</h1>
{% endblock %}